.card-price-hosting {
  width: 100%;
  min-height: 400px;
  padding: 40px 0 90px 0;

  .title {
    text-align: center;
    font-size: 37px;
    color: $blackColor;
    margin-bottom: 54px;
  }

  .card-grid-price-hosting {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    gap: 5px;
    justify-content: center;

    .card {
      width: 100%;
      min-height: 525px;
      background-color: $whiteColor;
      border: 2px solid #e1e1e1;
      border-radius: $borderRadius;
      padding: 31px;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;

      &:hover {
        box-shadow: 0 8px 12px rgba($color: #000000, $alpha: 0.1);
        transform: translateY(-5px);
      }

      .plan-name {
        font-size: 24px;
        color: $blackColor;
        font-weight: $fontSemibold;
        margin-bottom: 6px;
      }

      .info-plan {
        font-size: 15px;
        color: $grayColor;
        font-weight: $fontRegular;
        margin-bottom: 20px;
      }

      .price-group {
        font-weight: $fontBold;

        .price {
          font-size: 59px;
          color: $primaryColor;

          sup {
            font-size: 28px;
            margin-right: -10px;
          }
        }

        p {
          font-size: 17px;
          color: $grayColor;
        }
      }

      .btn-select {
        width: 157px;
        font-size: 16px;
        margin: 20px 0 28px 0;
      }

      .list-feature {
        .feature {
          color: $grayColor;
          font-size: 20px;
          line-height: $lineHeight + 10;

          .highlight {
            font-weight: $fontSemibold;
            color: $primaryColor;
          }
        }
      }

      .link-see-all-features {
        font-weight: $fontRegular;
        color: $primaryColor;
        font-size: 20px;
        margin-top: 30px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: $mediaMedium) {
  .card-price-hosting {
    .title {
      font-size: 30px;
    }

    .card-grid-price-hosting {
      grid-template-columns: repeat(auto-fit, 100%);
    }
  }
}
