$primaryColor: #5f54ff;
$whiteColor: #fff;
$grayColor: #5b5b5b;
$blackColor: #2d2d2d;
$lightGrayColor: #9b9b9b;
$backgroundColor: #f9f9f9;

$fontFamily: "Source Sans Pro", sans-serif;

$linkSize: 16px;
$fontBold: 700;
$fontSemibold: 500;
$fontRegular: 400;

$borderRadius: 3px;

$lineHeight: 23px;

$mediaMedium: 567px;
